<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageDifference.lastDifference" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ImageDifference.LastPath" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ImageDifference.lastDifference>
            <setting name="Current" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Check" serializeAs="String">
                <value>-1</value>
            </setting>
        </ImageDifference.lastDifference>
        <ImageDifference.LastPath>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
        </ImageDifference.LastPath>
    </userSettings>
</configuration>